@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');

nav#menu {
  font-size: 14px;

  a {
    color: #81c3fc;
  }

  a:hover {
    color: #d9edf7;
    text-decoration: none;
  }
}

div#title {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  text-align: center;
  z-index: 3;

  h1 {
    font-family: "Poppins", Georgia, serif;
    font-size: 2.4rem;
    font-variant: small-caps;
    padding-top: .3rem;
  }

  h1 a {
    display: block;
  }

  h1 a,
  h1 a:hover {
    color: black;
  }

  h1 a:hover {
    text-decoration: underline;
    text-decoration-color: #035096;
  }

  h1 a span.first-letters {
    color: #035096;
  }

  p#slogan {
    font-style: italic;
    font-size: .9rem;
    margin-bottom: .5rem;
  }
}

div#content {
  margin: 0 auto;
  padding: 1rem .5rem;
  overflow-x: scroll;
  font-size: 15px;
}

div#content::-webkit-scrollbar {
  display: none;
}

div.diamond {
  margin: 0 -1.25rem;
  text-align: center;
}

div.diamond span {
  display: inline-block;
  width: 4.5rem;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

dl.basic {
  max-width: 400px;
}
