{% extends "page.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h4>About</h4>
<p>Hyperkähler manifolds, or irreducible holomorphic symplectic varieties, are important building blocks of objects in complex geometry. Whilst they have amazing properties, their classification is incomplete and only 2 infinite families of deformation types, and 2 sporadic deformation types are known.
<p>This website is dedicated to describing these known types, with the focus being on their properties that are deformation invariant.
<p><a href="/explained">More information about hyperkähler varieties is available</a>.

<h2>How to cite?</h2>
If you use <a href="https://www.ctan.org/pkg/biblatex">biblatex</a>:
<pre><code>@online{hyperkaehler,
  author = {Belmans, Pieter},
  title = {hyperkaehler.info --- the geography of compact irreducible holomorphic symplectic (or hyperk\"ahler) varieties},
  url = {https://hyperkaehler.info},
  year = {% raw %}{{% endraw %}{{ now.year }}{% raw %}}{% endraw %},
}</code></pre>
<p>If you still use <a href="https://www.bibtex.org">bibtex</a>:
<pre><code>@misc{hyperkaehler,
  author = {Belmans, Pieter},
  title = {hyperkaehler.info --- the geography of compact irreducible holomorphic symplectic (or hyperk\"ahler) varieties},
  howpublished = {% raw %}{\url{https://hyperkaehler.info}}{% endraw %},
  year = {% raw %}{{% endraw %}{{ now.year }}{% raw %}}{% endraw %},
}</code></pre>

<h4>How to contribute?</h4>
<p>It is to be expected that there are typos, mistakes, or things that should just be better. If that is the case you can
<ul>
  <li>contact me (see below)
  <li><a href="https://github.com/pbelmans/hyperkaehler-info/issues">create an issue on GitHub</a>
</ul>

<h4>Acknowledgements</h4>
<p>I would like to thank <em>Thorsten Beckmann</em>, <em>Daniel Huybrechts</em> and <em>Jieao Song</em> for interesting discussions. All remaining mistakes are due to my failures in typing, misinterpreting the literature or (let's hope not!) actual mistakes in the literature.

<h4>Contact</h4>
See <a href="https://pbelmans.ncag.info">pbelmans.ncag.info</a> for ways to contact me. Or just email me at <a href="mailto:pieterbelmans@gmail.com">pieterbelmans@gmail.com</a>.

{% endblock %}

