{% extends "page.html" %}
{% import "macros.html" as macros %}

{% block title %}Beauville&ndash;Fujiki form{% endblock %}

{% block content %}

<p>The <strong>Beauville&ndash;Fujiki form</strong> is an integral indivisible quadratic form on $\mathrm{H}^2(X,\mathbb{Z})$.
<p>If we write
\begin{equation}
  \mathrm{q}_X\colon\operatorname{H}^2(X,\mathbb{C})\to\mathbb{C}
\end{equation}
then there exists some constant $\mathrm{c}_X\in\mathbb{Q}_+$ (the <a href="/fujiki">Fujiki constant</a>) such that on a $2n$-dimensional hyperkähler manifold $X$ we have
\begin{equation}
  \int_X\alpha^{2n}=\mathrm{c}_X\frac{(2n)!}{n!2^n}\mathrm{q}_X(\alpha)^n
\end{equation}
for $\alpha\in\mathrm{H}^2(X,\mathbb{C})$.
<p>It has <em>index</em> $(3,\mathrm{b}_2(X)-3)$ (when restricted to $\mathrm{H}^2(X,\mathbb{R})$.
<p>Its <em>discriminant</em> is the finite abelian group $\Lambda^\vee/\Lambda$ where $\Lambda=(\operatorname{H}^2(X,\mathbb{Z}),\mathrm{q}_X)$ is the lattice. It is zero for a unimodular lattice (such as $\mathrm{E}_8$) and the hyperbolic plane $\mathrm{U}$. Because in all known cases the Beauville&ndash;Fujiki form $\Lambda$ is of the form $\Lambda'\oplus\mathrm{H}^{\oplus 3}\oplus\Lambda''$ with $\Lambda'$ unimodular and $\Lambda''$ of rank 1 or 2, the discriminant is determined by $\Lambda''$.
<hr>
<p>The Beauville&ndash;Fujiki form generalises the intersection form on a K3 surface (where $\mathrm{c}_X=1$), and more generally equips the second cohomology of a hyperkähler manifold with a lattice structure that governs much of its geometry.

<table class="table table-hover">
  <thead>
    <tr>
      <th>type</th>
      <th>Beauville&ndash;Fujiki lattice</th>
      <th>index</th>
      <th><a href="/fujiki">Fujiki constant $\mathrm{c}_X$</a></th>
      <th>discriminant</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>K3</th>
      <td>$\mathrm{E}_8(-1)^{\oplus2}\oplus\mathrm{U}^{\oplus3}$</td>
      <td>$(3,19)$
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>{{ macros.K3n() }}-type</th>
      <th>$\mathrm{E}_8(-1)^{\oplus2}\oplus\mathrm{U}^{\oplus3}\oplus(-2(n-1))$
      <td>$(3,20)$
      <td>1</td>
      <td>$\mathbb{Z}/(2n-2)\mathbb{Z}$</td>
    </tr>
    <tr>
      <th>{{ macros.Kumn() }}-type</th>
      <td>$\mathrm{H}^{\oplus3}\oplus(-2(n+1))$
      <td>$(3,4)$
      <td>$n+1$</td>
      <td>$\mathbb{Z}/(2n+2)\mathbb{Z}$</td>
    </tr>
    <tr>
      <th>{{ macros.OGsix() }}</th>
      <td>$\mathrm{U}^{\oplus3}\oplus(-2)^{\oplus2}$
      <td>$(3,5)$
      <td>4</td>
      <td>$(\mathbb{Z}/2\mathbb{Z})^{\oplus2}$</td>
    </tr>
    <tr>
      <th>{{ macros.OGten() }}</th>
      <td>$\mathrm{E}_8(-1)^{\oplus2}\oplus\mathrm{U}^{\oplus3}\oplus\mathrm{A}_2(-1)$
      <td>$(3,21)$
      <td>1</td>
      <td>$\mathbb{Z}/3\mathbb{Z}$</td>
    </tr>
  </thead>
</table>

{% endblock %}


