{% extends "page.html" %}
{% import "macros.html" as macros %}
{% import "bibliography.html" as bibliography %}

{% block title %}Chern numbers{% endblock %}

{% block content %}

<h4>Chern numbers</h4>
<p>Chern numbers are the integrals of monomials in the Chern classes of $X$ living in top degrees. These are integers that can be used to control various other numerical invariants of varieties.
<p>For a hyperkähler manifold the odd Chern classes vanish, so in the table below we only list monomials using even Chern classes.

<h5>All Chern numbers</h5>
<p>
  <label for="K3-n-selector">dimension <em>d</em> (2&ndash;20)</label>:
  <input type="number" id="dimension-selector" name="dimension-selector" min="2" max="20" value="6" step="2">

{% for n in range(2, 21, 2) %}
<table class="table table-hover" data-dimension="{{ n }}" style="width: auto !important">
    <thead>
      <tr>
        <th class="text-right">monomial</th>
        {% for X in hyperkaehlers.values() if X.dimension == n %}<th class="text-right">{{ X.shorthand | safe }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% set varieties = hyperkaehlers.values() | selectattr("dimension", "eq", n) | list %}
      {% set monomials = varieties[0].chern | dictsort(false, 'value') | reverse | list %}
      {% for (monomial, _) in monomials %}
        <tr>
          <th class="text-right">
            {% if loop.last %}<a href="/euler">{% endif %}
            {{ macros.chern_monomial(monomial) }}
            {% if loop.last %}</a>{% endif %}
          </th>

          {% for X in varieties %}
            <td class="text-right">{{ X.chern[monomial] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

<script type="text/javascript">
$("table[data-dimension]").hide();
$("table[data-dimension=6]").show();

$("input#dimension-selector").change(function() {
  $("table[data-dimension]").hide();
  $("table[data-dimension=" + $(this).val() + "]").show();
});
</script>

<dl>
  <dt>{{ macros.K3n() }}-type</dt>
  <dd class="ml-4">
  The Chern numbers can be computed using the Bott residue formula, starting from {{ bibliography.cite("MR1795551", "Theorem 0.1") }}.

  <dt>{{ macros.Kumn() }}-type</dt>
  <dd class="ml-4">
  The Chern numbers have been computed by Nieper&ndash;Wisskirchen in {{ bibliography.cite("MR1906063") }}.

  <dt>{{ macros.OGsix() }}</dt>
  <dd class="ml-4">
  The Chern numbers are computed in {{ bibliography.cite("MR3798592", "Corollary 6.8") }}.

  <dt>{{ macros.OGten() }}</dt>
  <dd class="ml-4">
  The Chern numbers are computed in {{ bibliography.cite("MR4781884", "Appendix A") }}.
</dl>

<p>Computations of Chern numbers of {{ macros.K3n("n")}}- and {{ macros.Kumn("n") }}-type can be done using the <a href="https://github.com/8d1h/IntersectionTheory">IntersectionTheory</a> library written by Jieao Song in Julia.

{{ bibliography.references(["MR1795551", "MR1906063", "MR3798592", "MR4781884"]) }}

{% endblock %}
