{% extends "page.html" %}

{% block title %}On hyperkähler manifolds{% endblock %}

{% block content %}

<p><em>This needs to be expanded with a little bit of history etc.</em>
<h3>Definitions</h3>
<p>A <strong>hyperkähler manifold</strong> is a Riemannian manifold of dimension $4k$, such that its holonomy group is equal to $\mathrm{Sp}(4k)$.
<p>A <strong>irreducible holomorphic symplectic manifold</strong> is a simply connected Kähler manifold (so a Riemannian manifold with holonomy contained in $\mathrm{U}(2n)$) whose $\mathrm{H}^{2,0}(X)=\mathrm{H}^0(X,\Omega_X^2)$ is spanned by the class of a holomorphic symplectic form, i.e. a nowhere-degenerate holomorphic 2-form.
<p>The equivalence of these two notions is provided by Yau's proof of the Calabi conjecture.

{% endblock %}


