{% extends "page.html" %}
{% import "macros.html" as macros %}

{% block title %}Fujiki constant{% endblock %}

{% block content %}

<p>Here comes some explanation, together with an overview table, so the following (with a better layout)

<table>
  <tr>
    <th>type</th>
    <th>Fujiki constant $\mathrm{c}_X$</th>
  </tr>
  <tr>
    <th>K3</th>
    <td>1</td>
  </tr>
  <tr>
    <th>{{ macros.K3n() }}-type</th>
    <td>1</td>
  </tr>
  <tr>
    <th>{{ macros.Kumn() }}-type</th>
    <td>$n+1$</td>
  </tr>
  <tr>
    <th>{{ macros.OGsix() }}</th>
    <td>4</td>
  </tr>
  <tr>
    <th>{{ macros.OGten() }}</th>
    <td>1</td>
  </tr>
</table>

{% endblock %}


