{% extends "page.html" %}
{% import "macros.html" as macros %}

{% block title %}Fujiki constant{% endblock %}

{% block content %}

<p>This is part of the <a href="/beauville-fujiki">Beauville&ndash;Fujiki form</a>.

<table class="table table-hover">
  <thead>
    <tr>
      <th>type</th>
      <th>Fujiki constant $\mathrm{c}_X$</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>K3</th>
      <td>1</td>
    </tr>
    <tr>
      <th>{{ macros.K3n() }}-type</th>
      <td>1</td>
    </tr>
    <tr>
      <th>{{ macros.Kumn() }}-type</th>
      <td>$n+1$</td>
    </tr>
    <tr>
      <th>{{ macros.OGsix() }}</th>
      <td>4</td>
    </tr>
    <tr>
      <th>{{ macros.OGten() }}</th>
      <td>1</td>
    </tr>
  </tbody>
</table>

{% endblock %}


