{% macro K3n(n="n") %}K3<sup>[<i>{{ n }}</i>]</sup>{% endmacro %}
{% macro Kumn(n="n") %}Kum<sup><i>{{ n }}</i></sup>{% endmacro %}
{% macro OGsix() %}OG<sub>6</sub>{% endmacro %}
{% macro OGten() %}OG<sub>10</sub>{% endmacro %}

{% macro hyperkaehler(X) %}
<div data-type="{{ X.key }}">

<h4 class="text-center">{{ X.name | safe }}</h4>

<div class="row">
  <div class="col-md-6">
    <dl class="row basic">
      <dt class="col-7 text-right">complex dimension</dt>
      <dd class="col-5 text-left">{{ X.dimension }}</dd>

      <dt class="col-7 text-right">number of moduli</dt>
      <dd class="col-5 text-left">{{ X.betti[2] - 2 }}</dd>

      <dt class="col-7 text-right"><a href="/euler">Euler characteristic</a></dt>
      <dd class="col-5 text-left">${{ X.euler }}$</dd>

      <!--
      <dt class="col-7 text-right"><a href="/signature">signature</a></dt>
      <dd class="col-5 text-left">${{ X.signature }}$</dd>
      -->
    </dl>
  </div>

  <div class="col-md-6">
    <dl class="row basic">
      <dt class="col-7 text-right"><a href="/bbf">Beauville&ndash;Bogomolov&ndash;Fujiki form</a></dt>
      <dd class="col-5 text-left">${{ X.bb }}$</dd>

      <!--
      <dt class="col-7 text-right"><a href="/fujiki">Fujiki constant</a></dt>
      <dd class="col-5 text-left">{{ X.fujiki }}</dd>
      -->

      <dt class="col-7 text-right"><a href="/hitchin-sawon">$\int\mathrm{td}_X^{1/2}$</a>
      <dd class="col-5 text-left">${{ X.square_root_todd[1] }}$

      <dt class="col-7 text-right"><a href="/polarisation">polarisation type of general fiber</a>
      <dd class="col-5 text-left">${% for polarisation in X.polarisations %}{{ polarisation }}{% if not loop.last %},{% endif %}{% endfor %}$

      <dt class="col-7 text-right"><a href="/Aut_0">$\operatorname{Aut}_0(X)$</a>
      <dd class="col-5 text-left">${{ X.Aut_0 }}$
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-center">{{ chern(X) }}</div>
  <div class="col-md-6 text-center">{{ betti(X) }}</div>
</div>

{{ hodge(X) }}

<h5 class="mt-3 text-center"><a href="/llv">Looijenga&ndash;Lunts&ndash;Verbitsky (LLV) decomposition</a></h5>
<p class="text-center"><small>Hover to preview, click/tap to pin a summand.</small></p>
<div class="llv-widget" data-llv-key="{{ X.key }}">
  <p class="llv-structure text-center"></p>
  <div class="llv-decomposition text-center"></div>
  <div class="llv-diamond text-center"></div>
  <div class="llv-hodge"></div>
</div>

</div>
{% endmacro %}


{% macro betti(X) %}
<h5 class="mt-3"><a href="/betti">Betti numbers</a></h5>
<table class="table table-sm table-hover" style="width: auto !important; margin: 0 auto;">
  <thead>
    <tr>
      <th></th>
      <th>value</th>
    </tr>
  </thead>

  <tbody>
    {% for i in range(2*X.dimension + 1) %}
    <tr>
      <td class="text-right">
        {% if i == 2 %}<a style="display: block" href="/bbf">{% endif %}
        $\mathrm{b}_{ {{ i }} }$
        {% if i == 2 %}</a>{% endif %}
      </td>
      <td>
        {% if i == 2 %}<a style="display: block" href="/bbf">{% endif %}
        {{ X.betti[i] }}</td>
        {% if i == 2 %}</a>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}


{% macro hodge(X) %}
<h5 class="mt-3 text-center"><a href="/hodge">Hodge diamond</a></h5>
<div class="diamond" style="position: relative; overflow: hidden; width: 100%; margin: 0 auto; text-align: center; word-wrap: none">
  {% for i in range(2*X.dimension + 1) %}
    <div style="overflow: hidden; position: absolute; left: -50%; right: -50%">
    {% for j in range(i + 1) if j <= X.dimension and i - j <= X.dimension %}
      <span style="display: inline-block; width: 5.5rem">{{ X.hodge[j][i - j] }}</span>
      {% if loop.last %}</div><br style="clear: both">{% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endmacro %}


{% macro chern_monomial(monomial) %}
${% for (d, e) in monomial %}\mathrm{c}_{ {{ d }} }^{ {% if e != 1 %}{{ e }}{% endif %} }{% endfor %}$
{% endmacro %}


{% macro chern(X) %}
<h5 class="mt-3"><a href="/chern">Chern numbers</a></h5>
<table class="table table-sm table-hover" style="width: auto !important; margin: 0 auto;">
  <thead>
    <tr>
      <th>monomial</th>
      <th>value</th>
    </tr>
  </thead>

  <tbody>
    {% for monomial, value in X.chern | dictsort(false, 'value') | reverse %}
    <tr>
      <td class="text-right">
        {% if loop.last %}<a style="display: block"  href="/euler">{% endif %}
        {{ chern_monomial(monomial) }}
        {% if loop.last %}</a>{% endif %}
      </td>
      <td>
        {% if loop.last %}<a style="display: block" href="/euler">{% endif %}
        {{ value }}</td>
        {% if loop.last %}</a>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
